body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #000000; 
    display: flex;
    flex-flow: column; nowrap;
    align-items: center;
}

.content-container {
    background-color: #ffffff;
    padding: 20px;
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.title {
    font-size: 2em;
    color: white;
    margin-bottom: 20px;
}

.word-container {
    position: relative;
    padding: 15px;
    background-color: #007BFF;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    margin-bottom: 5px;
}

#word-container{
    transform: scale(1.2);
}

.img{
    max-width: 100px;
    max-height:100px;
}

#startMessage:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


.close-icon {
    position: absolute;
    top: 0.5px;
    right: 0.5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

.close-icon:hover {
    transform: scale(1.2);
}

.message {
    font-size: 1.2em;
    color: black;
    margin-top: 20px;
    cursor: pointer;
    transition: color 0.2s;
}

.message:hover {
    text-decoration: underline;
    color: #007BFF;
}

#timer {
    position: absolute;
    top: 0.5px; 
    left: 0.5px; 
    font-size: 24px; 
    font-weight: bold; 
    color: red; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5px; 
}
